# Dependencias
node_modules/

# Variables de entorno
.env
backend/.env

# Base de datos local
database.sqlite
backend/database.sqlite

# Compilaciones
dist/
backend/dist/
frontend/dist/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db